section{
    display: flex;
    width: 350px;
    flex-wrap: wrap;
    justify-content:space-around;
    background-color: rgb(228, 228, 228);
}
.tela{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(45, 45, 45);
    height: 60px;
    font-size: 30px;
    color: whitesmoke;
}
.botao{
    padding: 30px;
    width: 25%;
    border: 1px solid rgb(123, 123, 123);
    text-align: center;
    background-color: rgb(184, 184, 184);
    font-size: 40px;
}
.operacao{
    background-color: rgb(157, 157, 157); 
}
.clear, .erase{
    border: 1px solid rgb(123, 123, 123);
    text-align: center;
    background-color: rgb(184, 184, 184);
    font-size: 40px;
    width: 50%;
}
.clear{
    color: rgb(242, 242, 242);
}


@media screen and (max-width: 700px){
    .tela{
        height: 0;
        padding: 20% 0;
    }
    .botao{
        padding: 8% 0;
    }
    .clear, .erase{
        padding: 8% 0;
    }
    section{
        width: 100%;
        height: 100%;
    }
}